---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.title }} - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/img/favicon.png" type="image/png" >
    <link rel="icon" href="/img/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/combine/npm/purecss@3.0.0/build/base-min.css,npm/purecss@3.0.0/build/grids-min.css,npm/purecss@3.0.0/build/grids-responsive-min.css,npm/purecss@3.0.0/build/forms-min.css"
          integrity="sha256-ra9+OEgHl3lSXhtIM5yRd5tEfE35ilRKIQ8T0giHKHE="
          crossorigin="anonymous"
    >
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Viglino/iconicss@0.3.0/dist/iconicss.min.css"
          integrity="sha256-0lFOD+QzsntkWHLwa5Bq6y1NyPPu64KYxeQy0mbZGtI="
          crossorigin="anonymous"
    >
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <header>
        <div class="logo-container">
            <a href="./"><img class="header-logo" src="/img/TCC-logo2-sm.png"  alt="Total Computer Care Logo"/></a>
        </div>
        <div class="spacer"></div>
        <nav>
            <ul class="header-links">
                <input type=checkbox id="header-toggle-btn" checked>
                <li class="header-link"><a href="/">Home</a></li>
                <li class="header-link"><a href="/products">Products</a></li>
                <li class="header-link"><a href="/services">Services</a></li>
                <li class="header-link"><a href="/contact">Contact Us</a></li>
                <li class="header-toggle">
                    <label for="header-toggle-btn">
                        <span class="header-toggle-icon-inactive">☰</span>
                        <span class="header-toggle-icon-active">⇑</span>
                    </label>
                </li>
            </ul>
        </nav>
    </header>

    <div id="content">
        {{ content }}
    </div>

    <footer>
        <p>© 2008-{{ site.time | date: '%Y' }} {{ site.company_name }}</p>
        <p>Last modified: {{ site.time | date_to_string }}</p>
        <a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms and Conditions</a>
    </footer>
</body>
</html>